<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListHocSinh</servlet-name>
        <servlet-class>Controller.ListHocSinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNhanVien</servlet-name>
        <servlet-class>Controller.ListNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNhanVien</servlet-name>
        <servlet-class>Controller.SearchNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dangnhap</servlet-name>
        <servlet-class>Controller.Dangnhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSession</servlet-name>
        <servlet-class>Controller.CheckSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dangky</servlet-name>
        <servlet-class>Controller.Dangky</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClickDangky</servlet-name>
        <servlet-class>Controller.ClickDangky</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dangxuat</servlet-name>
        <servlet-class>Controller.Dangxuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClickDangnhap</servlet-name>
        <servlet-class>Controller.ClickDangnhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangnhapControl</servlet-name>
        <servlet-class>Controller.DangnhapControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangkyControl</servlet-name>
        <servlet-class>Controller.DangkyControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDangNhap</servlet-name>
        <servlet-class>Controller.CheckDangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNhanVien</servlet-name>
        <servlet-class>Controller.EditNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNhanVienProcess</servlet-name>
        <servlet-class>Controller.EditNhanVienProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListNhanVien</servlet-name>
        <url-pattern>/ListNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNhanVien</servlet-name>
        <url-pattern>/SearchNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dangnhap</servlet-name>
        <url-pattern>/Dangnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSession</servlet-name>
        <url-pattern>/CheckSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dangky</servlet-name>
        <url-pattern>/Dangky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClickDangky</servlet-name>
        <url-pattern>/ClickDangky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dangxuat</servlet-name>
        <url-pattern>/Dangxuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClickDangnhap</servlet-name>
        <url-pattern>/ClickDangnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangnhapControl</servlet-name>
        <url-pattern>/DangnhapControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangkyControl</servlet-name>
        <url-pattern>/DangkyControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDangNhap</servlet-name>
        <url-pattern>/CheckDangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNhanVien</servlet-name>
        <url-pattern>/EditNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNhanVienProcess</servlet-name>
        <url-pattern>/EditNhanVienProcess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
